// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #ffffff; /* Light background */
  --ion-card-background-color: #ffffff; /* Light background for cards */
  --ion-toolbar-background-color: #ffffff; /* Light background for toolbar */
  /* You can also set other colors here if needed */
}
